@font-face {
    font-family: 'Mulish';
    src: url('./../../fonts/Mulish.ttf') format('truetype');
}
@font-face {
    font-family: 'Boldena';
    src: url('./../../fonts/BoldenaBoldPersonalUse.ttf') format('truetype');
}
body {
    margin: 0;

}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

.flex-container>a,
.flex-container>h1 {
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    font-size: 20px;

}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 3em;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: rgb(236, 194, 149);
    text-shadow: 0 0 0px #000000, 0 0 5px #000000;

}

nav a:hover {
    text-decoration: underline;
}

.page-container {
    position: relative;
    overflow: hidden;
    color: rgb(236, 194, 149);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./../../images/backgrounds/legno.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mulish', Arial, sans-serif;

    display: flex;
    flex-direction: column;
}

.title-container {
    position: absolute;
    left: 3em;
    top: 2em;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 0px #000000, 0 0 5px #000000;

}

.logo-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}
.logo {
    width: 40%;
}

.logchiedio {
    width: 24em;
    height: auto;
}

.contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 2em;
}

.contact-icon {
    width: 2em;
    height: 2em;
}

.first-pizza {
    position: absolute;
    top: 20%;
    left: -18%;
    height: 70%;
    max-height: 35%;
}

.second-pizza {
    position: absolute;
    height: 70%;
    right: -15%;
    top: -15%;
    max-height: 35%;
}

/* Mobile Styles */

@media only screen and (max-width: 600px) {
    .title-container {
        position: static;
        text-align: center;
        margin-bottom: 1em;
    }

    nav {
        display: block;
        text-align: center;
        padding: 2em;
    }

    nav a {
        padding: 10px 0px;
        margin: 0 10px;
        font-size: 18px;
        text-shadow: 0 0 0px #000000, 0 0 5px #000000;

    }

    nav h1 {
        text-shadow: 0 0 0px #000000, 0 0 5px #000000;
    }

    .flex-container>h1 {
        padding: 20px;
        margin: 0 10px;
        font-size: 24px;
    }

    .flex-container>a {
        padding: 10px;
        margin: 0 5px;
        font-size: 18px;
    }

    .logo {
        width: 100%;
    }

    .contacts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        margin: 1em;
    }

    .contact-icon {
        width: 1em;
        height: 1em;
        margin: 5px;
    }

    .first-pizza {
        position: absolute;
        top: 55%;
        left: -35%;
        height: 30%;
        width: auto;
        max-height: 25%;
    }

    .second-pizza {
        position: absolute;
        height: 30%;
        width: auto;
        right: -30%;
        top: 15%;
        max-height: 25%;
    }
}
