@font-face {
    font-family: 'Mulish';
    src: url('./Mulish.ttf') format('truetype');
    /* Update './Mulish.ttf' with the correct path to your font file */
}

body {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

.flex-container>a,
.flex-container>h1 {
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 3em;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: rgb(236, 194, 149);
}

nav a:hover {
    text-decoration: underline;
}

.page-container {
    color: rgb(236, 194, 149);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('legno.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mulish', Arial, sans-serif;

    display: flex;
    flex-direction: column;
}

.title-container {
    position: absolute;
    left: 3em;
    top: 2em;
    font-weight: bold;
    margin: 0;

}

.logo-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}

.logo {
    width: 24em;
    height: auto;
}

.contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 2em;
}

.contact-icon {
    width: 2.6em;
    height: 2.6em;
}

.first-pizza {
    position: absolute;
    top: 20%;
    left: -18%;
    height: 70%;
}

.second-pizza {
    position: absolute;
    height: 70%;
    right: -15%;
    top: -15%;
}