@font-face {
    font-family: 'Mulish';
    src: url('./../../fonts/Mulish.ttf') format('truetype');
}
:root {
    --brown: #2A170D;
    --light_brown: rgb(236, 194, 149);
  }
body {
    margin: 0;
    background-color: var(--brown);
}
    
nav {   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 3em;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: var(--light_brown);
}

nav a:hover {
    text-decoration: underline;
}

.page-container {
    position: relative;
    overflow: hidden;
    color: var(--light_brown);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./../../images/backgrounds/shapes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mulish', Arial, sans-serif;

    display: flex;
    flex-direction: column;
}

.title-container {
    position: absolute;
    left: 3em;
    top: 2em;
    font-weight: bold;
    margin: 0;

}

.orari-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    flex-grow: 1;
}


.time-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 2em;
}

.contact-icon {
    width: 2em;
    height: 2em;
    
        }


.first-pizza {
    position: absolute;
    top: 20%;
    left: -18%;
    height: 70%;
}

.second-pizza {
    position: absolute;
    height: 70%;
    right: -15%;
    top: -15%;
}

/* Mobile Styles */

@media only screen and (max-width: 600px) {
    .title-container {
        position: static;
        text-align: center;
        margin-bottom: 1em;
    }

    nav {
        display: block;
        text-align: center;
        padding: 2em;
    }

    nav a {
        padding: 10px 0px;
        margin: 0 10px;
        font-size: 18px;
        text-shadow: 0 0 0px #000000, 0 0 5px #000000;

    }

    nav h1 {
        text-shadow: 0 0 0px #000000, 0 0 5px #000000;
    }

    .flex-container>h1 {
        padding: 20px;
        margin: 0 10px;
        font-size: 24px;
    }

    .flex-container>a {
        padding: 10px;
        margin: 0 5px;
        font-size: 18px;
    }

    .logo {
        width: 200px;
    }

    .contacts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        margin: 1em;
    }

    .contact-icon {
        width: 1em;
        height: 1em;
        margin: 5px;
    }

    .second-pizza  {
        position: absolute;
        top: 60%;
        left: -30%;
        height: 30%;
    }

    .first-pizza {
        position: absolute;
        height: 30%;
        right: -30%;
        top: 15%;
    }
}