:root {
    --brown: #2A170D;
    --light_brown: rgb(236, 194, 149);
}

body {
    background-color: var(--brown);
}

.page-container {
    background-image: url('./../../images/backgrounds/shapes.png');
}

.about-container {
    max-width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
    font-size: 1.2em;
    z-index: 1;
}


.time-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}