@font-face {
    font-family: 'Boldena';
    src: url('./../../fonts/BoldenaBoldPersonalUse.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish';
    src: url('./../../fonts/Mulish.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

img {
    filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.4));
}

.page-container {
    position: relative;
    overflow: hidden;
    color: rgb(236, 194, 149);
    min-height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mulish', Arial, sans-serif;

    display: flex;
    flex-direction: column;
}

.title-container {
    position: absolute;
    left: 3em;
    top: 2em;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 0px #000000, 0 0 5px #000000;
}

.title-container:hover {
    /* text-decoration: underline; */
    cursor: pointer;
}

.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin: 1em;
}

.contacts-container-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin: 1em;
}

.contact-icon {
    width: 2em;
    height: 2em;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 3em;
    z-index: 2;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: rgb(236, 194, 149);
    text-shadow: 0 0 0px #000000, 0 0 5px #000000;
    z-index: 2;
}

a:hover {
    text-decoration: underline;
}

.first-pizza {
    position: fixed;
    height: 60%;
    top: 20%;
    left: -10%;
    max-height: 60%;
}

.second-pizza {
    position: fixed;
    height: 60%;
    top: -10%;
    right: -10%;
    max-height: 60%;
}

.iva {
    position: absolute;
    bottom: 1.2em;
    right: 1.5em;
    font-size: 1.6em;
    text-shadow: 0 0 0px #000000, 0 0 5px #000000;
}

@media only screen and (max-width: 1500px) {

    .first-pizza {
        width: auto;
        height: 45%;
        top: 50%;
        left: -10em;

    }

    .second-pizza {
        position: fixed;
        width: auto;
        height: 45%;
        right: -10em;
    }

    .iva {
        position: static;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        display: block;
        text-align: center;
        padding: 2em;
    }

    nav a {
        padding: 10px 0px;
        margin: 0 .5em;
        font-size: 1.2em;
        text-shadow: 0 0 0px #000000, 0 0 5px #000000;
    }

    .title-container {
        position: static;
        text-align: center;
        margin-bottom: 1em;
    }

    .contacts-container {
        gap: 1em;
        justify-content: space-around;
    }

    .contact-icon {
        width: 1.3em;
        height: 1.3em;
    }

    .first-pizza {
        width: auto;
        height: 30%;
        top: 50%;
        left: -12em;
    }

    .second-pizza {
        width: auto;
        height: 30%;
        top: 10%;
        right: -10em;
    }
}